{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": ["^\\w", "^@\\w", "^../", "^./"],
  "importOrderSeparation": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
